.box {
  border: 1px solid gold;
  background: white;
  padding: 1rem;
  z-index: 2;
}

.boxDisabled {
  background: #e1e1e1 !important;
  border: 1px solid #e1e1e1;
  color: white;
  z-index: 1;
}

.labelWrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.label {
  border: 1px solid #ee00ff;
  padding: 5px;
  border-radius: 20px;
  display: inline-block;
  font-size: 12px;
  color: #ee00ff;
}

.editWrapper {
  display: flex;
  flex-direction: column;
}