.box {
  border: 1px solid gold;
  background: white;
  padding: 1rem;
  z-index: 2;
}

.boxDisabled {
  background: #e1e1e1;
  color: white;
  z-index: 1;
}

.editWrapper {
  display: flex;
  flex-direction: column;
}